body {
    font-family: Georgia, serif;
    background-color: black;
    margin:0;
}
#sign {
    color: #1388a5;
}
#sign :hover{
    color: #f5f6f7;
}

#sign :visited{
    color: white;
}

#homelink{
    text-decoration: none;
    color: #2c8cdb;
    padding: 10px;
    margin:10px;
}

#homelink:hover{
    transform: scale(1.1);
}

#head{
    margin-bottom: 0%;
}

.navbar{
	overflow: hidden;
	background-color: #1388a5;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar a:hover {
    background-color: black;
    color: #1388a5;
}

.navbar a {
	float: left;
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 0px;
}
