body {
    background-image: linear-gradient(to right, #c9eef5, #5ecbfd);
}
#sign {
    color: #041d22;
}
#sign :hover{
    color: #1388a5;
}

#sign :visited{
    color: black;
}

#homelink{
    text-decoration: none;
    color: #1c267e;
}

#head{
    margin-bottom: 0%;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c267e;
}

#navbar li {
    float: left;
}

#navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: black;
}


#main{
	float:left;
	width:68%;
	margin: 0;
	padding:0;
	box-sizing: border-box;

}

#side{
	float:left;
	width:30%;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

ul#list {
  list-style-type: circle;
}
