body {
    background-color: black;
    margin:0;
}
#sign {
    color: #1388a5;
}
#sign :hover{
<<<<<<< HEAD
    color: #f5f6f7;
=======
    color: #26c3eb;
>>>>>>> 863760622740d89e2df0e8693e587cd8677e97a3
}

#sign :visited{
    color: white;
}

#homelink{
    text-decoration: none;
    color: #2c8cdb;
}

#head{
    margin-bottom: 0%;
}

#navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1388a5;
}

#navbar li {
    float: left;
}

#navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li a:hover {
    background-color: black;
}
.navbar{
	overflow: hidden;
	background-color: #1388a5;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar a:hover {
    background-color: black;
    color: #1388a5;
}

.navbar a {
	float: left;
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 0px;
}
